.title {
  text-align: center;
  padding: 20px;
}

.winnerMSG {
  padding: 10px;
  font-size: large;
  text-align: center;
}

.loserMSG {
  font-size: medium;
  text-align: center;
}

.button {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(21, 161, 3);
  color: white;

  &:hover {
    background-color: white;
    color: black;
  }
}