
.cardscontainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tradeCard{
  --height: var(--cardHeight);
  --width: var(--cardWidth);
  
  &.medium {
    --height: var(--mediumCardHeight);
    --width: var(--mediumCardWidth);
  }
  
  &.small {
    --height: var(--smallCardHeight);
    --width: var(--smallCardWidth);
  }

  height: var(--height);
  width: var(--width);

  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 14px;
  justify-content: space-around;
  border: calc(var(--width) * 0.05) solid #d8d8d8;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
  &:hover .discardButton {
    display: block;
    transition: 0.2s;
  }

  .title {
    margin: 0px;
    text-align: center;
    //font-size: medium;
    padding: 0 5%;
    font-weight: 700;
    user-select: none;
  }

  .cardimg {
    user-select: none;
    width: 72%;
    margin: 0px auto;
  }

  .discardButton {
    display: none;
    opacity: 0.5;

    position: absolute;
    top: 2px;
    right: 2px;
    
    width: 28px;
    height: 28px;
    padding: 0px;
    border: none;

    &:hover {
      opacity: 1;
    }
  }

  &.blocked {
    border-color: #decc7266;
    cursor: default;
  }

  &[cardSelected] {
    border-color: #747474;
  }

  &[type='compSci'] {
    background-color: #ff9999;
  }

  &[type='math'] {
    background-color: #99ff99;
  }

  &[type='domain'] {
    background-color: rgb(153, 153, 255);
  }
}



