:root {
  --color: var(--primary);
  --accent: var(--accentColor);
}

.primary {
  --color: var(--primary);
  --accent: var(--accentColor);
}

.secondary {
  --color: var(--secondary);
  --accent: var(--accentColor);
}

.danger {
  --color: var(--danger);
  --accent: var(--dangerAccentColor);
}

.btn-normal {
  padding: .25rem 1rem;
}

.btn-normal:not(.btn-outlined) {
  background-color: var(--color);
  border: 2px var(--color) solid;
  color: var(--accent);
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background-color: var(--accent);
    color: var(--color);
  }
}

.btn-outlined {
  background-color: var(--accent);
  border: 2px var(--color) solid;
  color: var(--color);
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background-color: var(--color);
    color: var(--accent);
  }
}