.back {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.content {
  max-width: 70%;
  min-width: 30%;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}