

.modal {
  height: 270px;
  width: 500px;

  .title {
    text-align: center;
    padding: 20px;
  }
  .errorMSG {
    text-align: center;
    padding: 20px;
    color: red;
    font-size: medium;
  }

  .button {
    text-align: center;
    border-radius: 5px;
    margin-left: 135px;
    padding: 20px;
    background-color: rgb(161, 3, 3);
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}