
.title {
  position: absolute;
  margin-top: 10px;
  top: 10px;
  left: 7px;
  width: 8.5rem;
  z-index: 2;
  padding: 10px;
  padding-bottom: 0px;
  font-size: large;
  text-align: center;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 0.7px black;
  user-select: none;
}

.description {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 2;
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  font-size: medium;
  color: black;
  -webkit-text-stroke: 0.7px black;
  width: 8.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}


.slab{
  background-color: rgb(158, 239, 101);
  user-select: none;
  height: 100%;
  width: 100%;

  &[ishere='true']{
    background-color: rgb(251, 255, 0);
  }

  &[rotation='1'] {
    transform: rotate(90deg);
  }
  &[rotation='2'] {
    transform: rotate(180deg);
  }
  &[rotation='3'] {
    transform: rotate(270deg);
  }
}