.playerButton {
  height: 9rem;
  width: 9rem;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

  input {
    margin: 10%;
    width: 80%;
    border-radius: 4px;
    border: solid gray 1px;
    padding: 5px;
  }

  &:hover .typeButtonContainer .button{
    display: flex;
  }
  
  .typeButtonContainer {
    height: 50px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .button {
      display: none;
      padding: 0px;
      width: 20px;
      height: 25px;
    }
  }
}