.marketContainer {
  width: 7.5rem;
  height: 11.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
  background-color: rgb(1, 106, 37);

  .slabContainer {
    width: 7.5rem;
    height: 7.5rem;
    padding: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    box-sizing: content-box;
    background-color: white;
    border: 2px solid rgb(1, 106, 37);
  
    .slab {
      width: 7.5rem;
      height: 7.5rem;
      cursor: default;
    }

    .slab[draggable='true'] {
      cursor: grab;
    }
    
    .slab[rotation='1'] {
      transform: rotate(90deg);
    }
    .slab[rotation='2'] {
      transform: rotate(180deg);
    }
    .slab[rotation='3'] {
      transform: rotate(270deg);
    }
  
  }

  .slabContainer[canbebougth='false'] {
    border: 2px solid rgba(163, 0, 0, 0.788);
    box-sizing: content-box;
  }
  
  .MarketCostsContainer {
    display: inline;
    margin-top: 1.5rem;
    margin-left: 1rem;
  
    .MarketCosts {
      width: 1.7rem;
      height: 1.7rem;
      margin-left: 1px;
      margin-right: 1px;
      text-align: center;
      font-size: large;
      font-weight: 700;
    }
  
    .MarketCosts[type='0'] {
      background-color: rgb(153, 153, 255);
    }
    .MarketCosts[type='1'] {
      background-color: rgb(255, 153, 153);
    }
    .MarketCosts[type='2']  {
      background-color: rgb(153, 255, 153);
    }
  }

}
