.mainCard {
  width: 100%;
  overflow-y: auto;

  .halfCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 1rem;
      padding-bottom: 0px;
    }

    hr {
      margin: 5px 5px 15px;
    }
  }
}