.mainCard {
  height: var(--maxHeigth);
  display: flex;

  .halfCard {
    width: 50%;
    padding: 0rem 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .header {
      display: flex;
      padding: 1rem;
      padding-bottom: 0px;
      align-items: center;
    }

    hr {
      margin: 5px 5px 15px;
    }

    .cartsContainer {
      height: 310px;
      width: 100%;
    }
  }
}

.playerBox {
  &[type='RED'] {
    background-color: var(--playerRed);
  }
  &[type='GREEN']  {
    background-color: var(--playerGreen);
  }
  &[type='BLUE'] {
    background-color: var(--playerBlue);
  }
  &[type='YELLOW']  {
    background-color: var(--playerYellow);
  }
}