.mainCard {
  display: flex;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &[type='0'] {
    background-color: rgba(255, 153, 153, 0.7);
  }
  &[type='1']  {
    background-color: rgba(153, 255, 153, 0.7);
  }
  &[type='2'] {
    background-color: rgba(153, 153, 255, 0.7);
  }
  &[type='3']  {
    background-color: rgba(255, 240, 153, 0.7);
  }

  .leftcard {
    width: 800px;
    padding: 1rem;
    padding-top: 0px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;

    .header {
      display: flex;
      padding: 1rem;
      padding-bottom: 0px;
      align-items: center;
    }

    hr {
      margin: 5px 5px 15px;
    }

    .button {
      padding: 25px;
      margin: 10px;
      border-radius: 5px;
      color: white;
      border-color: #016a25;
      background-color: #016a25;

      &:hover {
        color: black;
        background-color: white;
      }

    }
    
    .closebutton {
      padding: 25px;
      margin: 10px;
      border-radius: 5px;
      color: white;
      border-color: rgb(141, 3, 3);
      background-color: rgb(141, 3, 3);

      &:hover {
        color: black;
        background-color: white;
      }
    }

    .cartsContainer {
      height: 310px;
    }
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.modalContainer {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-content: center;

  .button {
    padding: 25px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    border-color: #016a25;
    background-color: #016a25;

    &:hover {
      color: black;
      background-color: white;
    }
  }
  
  .closebutton {
    border-color: rgb(141, 3, 3);
    padding: 25px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(141, 3, 3);
    color: white;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}