body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#draggedImg {
  opacity: 1;
}

:root {
  --primary: #016a26;
  --secondary: #8d0303;
  --danger: #8d0303;
  --dangerAccentColor: #cb8b02;
  --accentColor: #fcfcfc;

  --slabSize: 12rem;
}