.market{
  background-color: rgb(1, 106, 37);
  border: 6px solid black;
  justify-content: center;
  width: 42.5rem;
  display: grid;
  margin: 20px auto 20px auto ;

  .marketContainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding-top: 1rem;
    padding-left: 0.94rem;
    padding-right: 0.94rem;
    background-size: 100%;
    width: 38rem;

    .normalMarketContainer{
      box-sizing: content-box;
      width: 38rem;
    }
  }
}

.modal {
  width: 500px;
  padding: 20px;
  text-align: center;
  
  h1 {
    color: rgb(177, 0, 0);
  }

  .text { 
    font-size: 1rem;
    margin-top: 2rem;
  }
}