.marketContainer {
  width: 7.5rem;
  height: 11.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
  background-color: rgb(1, 106, 37);

  .slabContainer {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    padding: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    box-sizing: content-box;
    border: 2px solid rgb(1, 106, 37);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(236, 231, 231, 0.932);

    .title {
      position: absolute;
      top: -5px;
      z-index: 2;
      padding: 10px;
      padding-bottom: 0px;
      font-size: medium;
      text-align: center;
      font-weight: 700;
      color: black;
      user-select: none;
    }

    .counter {
      top: 55px;
      left: 10px;
      z-index: 2;
      width: 25px;
      height: 25px;
      color: white;
      font-weight: 900;
      font-size: medium;
      position: absolute;
      text-align: center;
      border-radius: 50%;
      -webkit-text-stroke: 0.7px black;
      background-color: rgb(216, 0, 0);
      user-select: none;
    }
  
    .cost {
      top: 85px;
      left: 10px;
      z-index: 2;
      width: 25px;
      height: 25px;
      color: white;
      font-weight: 900;
      font-size: medium;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      background-color: black;
      -webkit-text-stroke: 0.7px black;
      user-select: none;
    }
  
    .slab {
      position: absolute;
      height: 70px;
      width: 70px;
      bottom: 0px;
      right: 5px;
      bottom: 5px;
      cursor: default;

      &[draggable='true'] {
        cursor: grab;
      }
      
      &[rotation='1'] {
        transform: rotate(90deg);
      }
      &[rotation='2'] {
        transform: rotate(180deg);
      }
      &[rotation='3'] {
        transform: rotate(270deg);
      }

    }

    &[canbebougth='false'] {
      box-shadow: rgba(163, 0, 0, 0.4) 0px 0px 0px 2px, rgba(163, 0, 0, 0.65) 0px 4px 6px -1px, rgba(163, 0, 0, 0.08) 0px 1px 0px inset;
    }
  }

  .button {
    width: 6.5rem;
    margin-left: 0.5rem;
    margin-top: 20px;
    font-size: medium;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}

.descriptionTooltip{
  font-size: small;
  width: 7.5rem;
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
}